NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDLkcag-dcm1_wr9nppdQEsetCvEtbOjOw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=waqti-app-62c38.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=waqti-app-62c38
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=waqti-app-62c38.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=7600474481
NEXT_PUBLIC_FIREBASE_APP_ID=1:7600474481:web:b6e32c731cabcb230b0ed0
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-1CMNR4NQFL
